/.idea/.gitignore
/auth.txt
/vendor/autoload.php
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/vendor/composer/ClassLoader.php
/composer.lock
/episodes.txt
/index.php
/vendor/composer/installed.json
/vendor/composer/LICENSE
/.idea/magicento.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/myshows.iml
/.idea/php.xml
/.idea/dictionaries/Randvell.xml
/test.php
/.idea/vcs.xml
/backup.txt
/log.txt
